<div class="card bg-light container text-center">
  <div class="pb-2 mt-4 mb-2 border-bottom">
    <h1><i class="fa fa-book" aria-hidden="true"></i> Registro de Libro</h1>
  </div>
  <article class="card-body mx-auto">
    <p class="divider-text">
      <span class="bg-light">Registro</span>
    </p>
    <hr>
    <form [formGroup]="BookForm" (ngSubmit)="onSaveForm()">
      <!-- Folio y Nombre -->
      <div class="form-row mb-4">
        <div class="form-group input-group col md-form ">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="far fa-book"></i> </span>
          </div>
          <input type="text" formControlName="Folio" class="form-control" placeholder="Folio">
        </div>
        <!-- form-group// -->
        <div class="form-group input-group col md-form">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <!-- name -->
          <input type="text" formControlName="Nombre" class="form-control" placeholder="Nombre">

        </div> <!-- form-group// -->
      </div>

      <!-- Autor y Editorial -->
      <div class="form-row mb-4">
        <div class="form-group input-group col md-form ">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="far fa-user"></i> </span>
          </div>
          <input type="text" formControlName="Autor" class="form-control" placeholder="Autor">
        </div>
        <!-- form-group// -->
        <div class="form-group input-group col md-form">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <!-- name -->
          <input type="text" formControlName="Editorial" class="form-control" placeholder="Editorial">

        </div> <!-- form-group// -->
      </div>

      <!-- Genero y Estante -->
      <div class="form-row mb-4">
        <div class="form-group input-group col md-form ">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="far fa-user"></i> </span>
          </div>
          <input type="text" formControlName="Genero" class="form-control" placeholder="Genero">
        </div>
        <!-- form-group// -->
        <div class="form-group input-group col md-form">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <!-- name -->
          <input type="text" formControlName="Estante" class="form-control" placeholder="Estante">

        </div> <!-- form-group// -->
      </div>

      <!-- Anio y Paginas -->
      <div class="form-row mb-4">
        <div class="form-group input-group col md-form ">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="far fa-user"></i> </span>
          </div>
          <input type="text" formControlName="Anio" class="form-control" placeholder="Anio">
        </div>
        <!-- form-group// -->
        <div class="form-group input-group col md-form">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <!-- name -->
          <input type="text" formControlName="Paginas" class="form-control" placeholder="Paginas">

        </div> <!-- form-group// -->
      </div>

      <!-- Descripcion y Stock -->
      <div class="form-row mb-4">
        <div class="form-group input-group col md-form ">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="far fa-user"></i> </span>
          </div>
          <input type="text" formControlName="Descripcion" class="form-control" placeholder="Descripcion">
        </div>
        <!-- form-group// -->
        <div class="form-group input-group col md-form">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <!-- name -->
          <input type="text" formControlName="Stock" class="form-control" placeholder="Stock">

        </div> <!-- form-group// -->
      </div>

      <!-- Imagen y Borrado -->
      <br />
      <hr>
      <!-- <label>Imagen</label>
      <input type="file" #image="ngModel" name="image" [(ngModel)]="book.image" class="form-control" />

      <label>Nombre
        <span *ngIf="!nombre.valid && nombre.touched" class="label label-danger">El nombre es obligatorio</span>
      </label>
      <input type="text" #nombre="ngModel" name="name" [(ngModel)]="nombre.nombre" class="form-control"
        placeholder="Ingresa el nombre" required /> -->
      <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
  </article>
</div>

<!-- <div >

<div class="text-center border border-light p-5">
  <div>
    <img src="../../../assets/Images/2827_1_books_01831_lacabana.jpg" alt="" srcset="">
    <h5 class="card-title">La cabaña</h5>
    <h6 class="card-subtitle mb-2 text-muted">William P. Young</h6>
    <p class="card-text">La cabaña es un libro que el rodrax ha estado chingando mucho por leer</p>
    <a href="#" class="card-link">Link1</a>
    <a id="boton" class="btn btn-outline-primary" (click)="add()">Compralo we</a>
  </div>
</div>


</div> -->