<div class="text-center border border-light p-5">
  <div>
    <img src="../../../assets/Images/2827_1_books_01831_lacabana.jpg" alt="" srcset="">
    <h5 class="card-title">La cabaña</h5>
    <h6 class="card-subtitle mb-2 text-muted">William P. Young</h6>
    <p class="card-text">La cabaña es un libro que el rodrax ha estado chingando mucho por leer</p>
    <a href="#" class="card-link">Link1</a>
    <a id="boton" class="btn btn-outline-primary" (click)="add()">Compralo we</a>
  </div>
</div>