<div class="card" style="width: 18rem;">
  <div class="card-body">
    <img class="card-img-top " src="{{book.imagen}}" alt="Card image cap">

    <h5 class="card-title">{{book.nombre}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{book.autor}}</h6>
    <p class="card-text"></p>
    <a href="#" class="card-link">Link1</a>
    <a href="#" id="boton" class="btn btn-outline-primary" (click)="add()">{{book.paginas}} Pages</a>
  </div>
</div>
<hr>
<a href=""></a>
<app-login></app-login>