<div class="container text-center"> 
        <div class="pb-2 mt-4 mb-2 border-bottom">
           <h1><i class="fa fa-book" aria-hidden="true"></i> Detalle de Libro</h1>    
          </div>
          
          <div class="row">
              <div class="col-md-6">
              <div class="product-block">
             <img src="{{book.imagen}}">
             <p>Autor: {{book.autor}} </p>
             <p>Año Publicado: {{book.anio}} </p>
             <p>Genero: {{book.genero}} </p>
             <p>{{book.paginas}} paginas </p>  
             </div>
            </div>
         

          <div class="col-md-6">
       <div class="product-block">
         <h3>{{book.nombre}}<hr></h3>
         <div class="product-info panel">
            <p> {{book.descripcion}}</p>
             <p>
                 <a  class="btn btn-warning btn-block" href="prestamo">Solicitar Libro</a>
             </p>
         </div>           
          
        </div>
         </div>
         <hr>
       <p>
           <a class="btn btn-primary center" href="home">
            <i class="fa fa-chevron-circle-left"></i>   
            Regresar </a>
        </p>
        </div>

    
        
    

</div>




