<div class="container text-center">
    <div class="pb-2 mt-4 mb-2 border-bottom">
        <h1><i class="fa fa-book" aria-hidden="true"></i> Detalle de Libro</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>
                <a class="btn btn-primary center" routerLink="/home">
                    <i class="fa fa-chevron-circle-left"></i>
                    Regresar
                </a>
            </p>
            <div class="product-block">
                <img src="{{book.imagen}}">
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-block">
                <h3>
                    <b>{{book.nombre}}</b>
                    <hr>
                </h3>
                <div class="product-info panel">
                    <p><b>Autor:</b> {{book.autor}} </p>
                    <p><b>Editorial:</b> {{book.editorial}} </p>
                    <p><b>año:</b> {{book.anio}} </p>
                    <p><b>Genero:</b> {{book.genero}} </p>
                    <p><b>Paginas del Libro:</b> {{book.paginas}} pag </p>
                    <p>
                        <a class="btn btn-warning btn-block" routerLink="/prestamo"><b>Solicitar Libro</b></a>
                    </p>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>
<hr>