.card-img-top{
width: 40%;
height: 40%;
text-align: center;
margin-left: 30%;
}
.card-title{
    text-align: center;
    margin-right: 10%;
}
#boton{
    text-align: center;
    margin-left: 28%;
}

.activate{
    text-decoration: yellow ! important;
    border-bottom: 4px solid yellow ! important;
}