<hr>
<div class='container-fluid, col-lg-12'>

    <div class='col-lg-12'>
        <ngb-carousel>
            <ng-template ngbSlide>
                <img class="d-block w-100"
                    src="../../../assets/Images/elena.jpg"
                    alt="Delhi Metro">
                <div class="carousel-caption">

                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img class="d-block w-100" src="../../../assets/Images/elena2.jpg"
                    alt="Bangalore Metro">
                <div class="carousel-caption">

                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img class="d-block w-100" src="../../../assets/Images/elena3.jpg"
                    alt="Channai Metro">
                <div class="carousel-caption">

                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img class="d-block w-100" src="../../../assets/Images/elena4jpeg.jpeg"
                    alt="Jaipur Metro">
                <div class="carousel-caption">

                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img class="d-block w-100" src="../../../assets/Images/elena5.jpg"
                    alt="Mumbai Metro">
                <div class="carousel-caption">

                </div>
            </ng-template>
        </ngb-carousel>
    </div>

</div>
<br>


<app-cards></app-cards>