
<!-- Default form register -->
<div class="card bg-light container text-center">
  <div class="pb-2 mt-4 mb-2 border-bottom">
    <h1><i class="fa fa-book" aria-hidden="true"></i> Detalle Prestamo</h1>
  </div>
  <article class="card-body mx-auto">
    <p class="divider-text">
      <span class="bg-light">Registro</span>
    </p>
    <hr>
    <form [formGroup]="UserForm" ngsub>
      <div class="form-row mb-4">
        <div class="form-group input-group col md-form ">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="far fa-user"></i> </span>
          </div>
          <input type="text" formControlName="Folio" class="form-control" placeholder="Folio">

        </div>
        <!-- form-group// -->
        <div class="form-group input-group col md-form">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <!-- name -->
          <input type="text" formControlName="Folio" class="form-control" placeholder="Folio">

        </div> <!-- form-group// -->
      </div>
      <div class="form-row mb-4">
        <div class="form-group input-group col md-form">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <!-- name -->
          <!-- lastname -->
          <input type="text" formControlName="Folio" class="form-control" placeholder="Folio">

        </div> <!-- form-group// -->
        <div class="form-group input-group col md-form">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="far fa-id-card"></i> </span>
          </div>
          <!-- name -->

          <!-- Matricula -->
          <input type="text" formControlName="Folio" class="form-control" placeholder="Folio">

        </div> <!-- form-group// -->
      </div>

      <div class="form-row mb-4">
        <div class="form-group input-group col md-form">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
          </div>
          <input type="email" formControlName="Folio" class="form-control" placeholder="Folio">

        </div> <!-- form-group// -->
        <div class="form-group input-group col md-form">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
          </div>
          <input type="text" formControlName="Folio" class="form-control" placeholder="Folio">
        </div> <!-- form-group// -->
      </div>

      <div class="form-row mb-4">
        <div class="form-group input-group col md-form">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fas fa-university"></i> </span>
          </div>
          <select class="custom-select ">
            <option selected="">Seleccione la carrera</option>
            <option value="1">TIC</option>
            <option value="2">Procesos Industriales</option>
            <option value="3">Mercadotecnia</option>
            <option value="4">Mecatronica</option>
            <option value="5">Posventa Automotriz</option>
            <option value="6">Mantenimiento Industrial</option>
            <option value="7">Aeronautica</option>
          </select>
        </div> <!-- form-group end.// -->
        
      </div>
      
      <div class="form-row mb-4">
          <div class="form-group input-group col md-form">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
              </div>
              <!-- Contraseña -->
              <input type="password" formControlName="Folio" class="form-control" class="form-control"
                placeholder="Contraseña">
            </div> <!-- form-group// -->
          <div class="form-group input-group col md-form">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input class="form-control" formControlName="Folio" class="form-control" placeholder="Repite la contraseña"
              type="password">
          </div> <!-- form-group// -->
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Crear Cuenta</button>
      </div> <!-- form-group// -->
      <p class="text-center">Ya tienes cuenta? <a href="iniciarsesion">Iniciar Sesión</a> </p>
    </form>
  </article>
</div> <!-- card.// -->