<!-- Default form register -->
<form class="text-center border border-light p-5">

    <p class="h4 mb-4">Registro de usuario</p>
    <br>
    <input type="text" id="username" name="username" class="form-control mb-4" placeholder="Nickname">

    <!-- name -->
    <input type="text" id="name" name="username" class="form-control mb-4" placeholder="Nombre">

    
    <!-- lastname -->
    <input type="text" id="lastname" name="lastname" class="form-control mb-4" placeholder="Apellido">

   <!-- Matricula -->
   <input type="text" id="enrollment" name="enrollment" class="form-control mb-4" placeholder="Matricula">
 
   <!-- Telefono -->
  <input type="number" id="phonenumber" name="phonenumber" class="form-control mb-4" placeholder="Numero de telefono">

   <!-- Email -->
  <input type="email" id="email" name="email" class="form-control mb-4" placeholder="E-mail">

   <!-- Contraseña -->
   <input type="password" id="password" name="password" class="form-control mb-4" placeholder="Contraseña">
   
   
   <!-- Carrera -->
   <label>Carrera</label>
   <select class="browser-default custom-select mb-4">
    <option value="" disabled>Seleccione una carrera</option>
    <option value="1" selected>TIC</option>
    <option value="2">Procesos Industriales</option>
    <option value="3">Mercadotecnia</option>
    <option value="4">Mecatronica</option>
    <option value="5">Posventa Automotriz</option>
    <option value="6">Mantenimiento Industrial</option>
    <option value="7">Aeronautica</option>
   </select>



   <!-- Tipo de usuario -->
   <label>Tipo Usuario</label>
   <select class="browser-default custom-select mb-4" aria-placeholder="Tipo de usuario">
    <option value="" disabled>Seleccione un tipo de usuario</option>
    <option value="1" selected>Alumno</option>
    <option value="2">Maestro</option>
  
    </select>
    <!-- Sign up button -->
    <button mdbBtn color="info"   (click)="onSaveForm()" block="true" class="my-4">Registrar</button>

    

    <!-- Terms of service -->
    <p>By clicking
      <em>register</em> you agree to our
      <a href="" target="_blank">terms of service</a></p>

  </form>
  <!-- Default form register -->

