<!-- Default form register -->
<div class="card bg-light">

  <article class="card-body mx-auto" style="max-width: 400px;">
    <p class="h4 mb-4">Registro de usuario</p>
  
    <p class="divider-text">
          <span class="bg-light">Registro</span>
      </p>
      <hr>
    <form>
    <div class="form-group input-group">
      <div class="input-group-prepend">
          <span class="input-group-text"> <i class="far fa-user"></i> </span>
       </div>
          <input type="text" id="username" name="username" class="form-control" placeholder="Nickname">
      </div> <!-- form-group// -->

      <div class="form-group input-group">
          <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
           </div>
                <!-- name -->
           <input type="text" id="name" name="username" class="form-control" placeholder="Nombre">
          </div> <!-- form-group// -->

              <div class="form-group input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                   </div>
                        <!-- name -->
            <!-- lastname -->
                <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Apellido">
                  </div> <!-- form-group// --> 
                  
                  <div class="form-group input-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text"><i class="far fa-id-card"></i> </span>
                       </div>
                            <!-- name -->
         
                <!-- Matricula -->
                <input type="text" id="enrollment" name="enrollment" class="form-control" placeholder="Matricula">
                      </div> <!-- form-group// --> 

             

      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
       </div>
          <input name="Email" id="Email" class="form-control" placeholder="Correo Electronico" type="email">
      </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
      </div>
      <select class="custom-select" style="max-width: 120px;">
          <option selected="">Seleccione una lada</option>
          <option value="1">+52</option>
          <option value="2">+1</option>
          <option value="3">+91</option>
      </select>
        <input name="Phone" id="Phone" class="form-control" placeholder="Numero Telefonico" type="text">
      </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fas fa-university"></i> </span>
      </div>
      <select class="custom-select">
        <option selected="">Seleccione la carrera</option>
        <option value="1">TIC</option>
        <option value="2">Procesos Industriales</option>
        <option value="3">Mercadotecnia</option>
        <option value="4">Mecatronica</option>
        <option value="5">Posventa Automotriz</option>
        <option value="6">Mantenimiento Industrial</option>
        <option value="7">Aeronautica</option>
      </select>
    </div> <!-- form-group end.// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
      </div>
        <!-- Contraseña -->
        <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña">
      </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
      </div>
          <input  class="form-control" placeholder="Repite la contraseña" type="password">
      </div> <!-- form-group// -->                                      
      <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Crear Cuenta</button>
      </div> <!-- form-group// -->      
      <p class="text-center">Ya tienes cuenta? <a href="iniciarsesion">Iniciar Sesión</a> </p>                                                                 
  </form>
  </article>
  </div> <!-- card.// -->
  




   
  
    



    


 
  

   
   
  
