button{
    color: red;
}
.topnav.responsive {position: relative;}
.topnav.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}
.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}
.activate{
  text-decoration: yellow ! important;
  border-bottom: 4px solid yellow ! important;
}
