<div class="container text-center">
  <div class="pb-2 mt-4 mb-2 border-bottom">
    <h1><i class="fa fa-bookmark" aria-hidden="true"></i> Detalle Prestamo</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <form class="text-center border border-light p-5" [formGroup]="LoanForm" (ngSubmit)="onSaveForm()">
        <div class="form-row mb-4 ">
          <div class="col md-form ">
            <!-- First name -->
            <input type="text" formControlName="Folio" class="form-control" placeholder="Folio">
          </div>
          <div class="col md-form">
            <!-- Last name -->
            <input type="text" formControlName="Estado" class="form-control" placeholder="Estado">
          </div>
        </div>
        <!-- Date -->
        <div class="md-form">
          <input type="date" formControlName="Fecha" class="form-control" mdbInput>
          <label for="input">Fecha del prestamo</label>
        </div>
        <!-- Fecha de devolucion -->
        <div class="md-form">
          <input type="date" formControlName="Devolucion" class="form-control" mdbInput>
          <label for="input">Fecha de devolución</label>
        </div>
        <!-- Sign up button -->
        <button mdbBtn color="info" block="true" class="my-4" type="submit">
          Registrar Prestamo
        </button>
        <!-- Terms of service -->
        <p>By clicking
          <em>register</em> you agree to our
          <a href="" target="_blank">terms of service</a></p>
      </form>
    </div>
    <div class="col-md-6">
            <div class="text-center border border-light p-3">
              <div *ngFor="let item of detailList">
                <img src="{{item.imagen}}" alt="" srcset="">
                <h5 class="card-title">Nombre: {{item.nombre}}a</h5>
                <p class="card-text"> Estante: {{item.estante}}</p>
                <p class="card-text">Stock: {{item.stock}}</p>                
                <a class="btn btn-danger" (click)="deleteItem(item.id)">Borrar</a>
                <a id="boton" class="btn btn-outline-primary" (click)="add(item)">Añadir a Prestamo</a>
              </div>
            </div>
    </div>
  </div>


</div>
<!-- Default form register -->
