<div class="container text-center">
    <div class="pb-2 mt-4 mb-2 border-bottom">
        <h1><i class="fa fa-user" aria-hidden="true"></i> Mantenimiento</h1>
    </div>
    <div class="table-wrapper row">
        <div class="col-md-12">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Mantenimiento <b>Libros</b></h2>
                    </div>
                    <div class="col-sm-6">
                        <!--  href="#addEmployeeModal"-->
                        <a [routerLink]="['/book/',0]" class="btn btn-success" data-toggle="modal"><i class="fa fa-plus"
                                aria-hidden="true"></i> <span>Registrar Libro</span></a>
                        <!-- <a data-target="#deleteEmployeeModal"  class="btn btn-danger"  data-toggle="modal"><i
                                class="fa fa-minus-circle" aria-hidden="true"></i><span>Delete No sirve</span></a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <input type="text" placeholder="Buscar" class="form-control mb-3" name="filterBooks" id="filterBooks"
                    [(ngModel)]="filterBooks">
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                       
                        <th>Folio</th>
                        <th>Nombre</th>
                        <th>Autor</th>
                        <th>Genero</th>
                        <th>Estante</th>
                        <th>Fecha de publicación</th>
                        <th>Editorial</th>
                        <th>Numero de Paginas</th>
                        <th>Eliminado?</th>
                        <th>Stock</th>
                      
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of book ">
                       <td>{{item.folio}}</td>
                        <td>{{item.nombre}}</td>
                        <td>{{item.autor}}</td>
                        <td>{{item.genero}}</td>
                        <td>{{item.estante}}</td>
                        <td>{{item.anio}}</td>
                        <td>{{item.editorial}}</td>
                        <td>{{item.paginas}}</td>
                        <td>{{item.borrado}}</td>
                        <td>{{item.stock}}</td>
                        <td>
                            <!-- href="#editEmployeeModal" -->
                            <a [routerLink]="['/book/',item.id]" class="edit" data-toggle="modal"><i class="far fa-edit"
                                    tittle="Edit" data-toggle="tooltip"></i></a>
                            <a class="delete" data-toggle="modal"><i
                                    class="far fa-trash-alt" title="Edit" data-toggle="tooltip"></i></a>
                        </td>
                    </tr>
                  
                </tbody>
            </table>
            
        </div>
    </div>
</div>


