<div class="col-md-3">
  <input type="text" placeholder="Buscar" class="form-control mb-3" name="filterBooks" id="filterBooks"
    [(ngModel)]="filterBooks">
</div>
<hr>
<div class="row wrap">
  <div style="padding: 5px;" class="col-lg-4" *ngFor="let item of books|  books:filterBooks; ">
    <mat-card>
      <img  mat-card-image src="{{item.imagen}}"  title="{{item.nombre}}">
      <div class="card-body">
        <h5 class="card-title">{{item.nombre}}</h5>
        <p class="card-text">By: {{item.autor}}</p>
        <mat-card-footer>
        <a  [routerLink]="[ '/detail/',item.id ]" class="btn btn-outline-success">Ver Detalles</a>
        </mat-card-footer>
      </div>
   
    </mat-card>
  </div>
</div>