<div class="container text-center">
    <div class="pb-2 mt-4 mb-2 border-bottom">
        <h1><i class="fa fa-bookmark" style="margin-right: 15px;;" aria-hidden="true"></i>Prestamos</h1>
    </div>
    <div class="table-wrapper row">
        <div class="col-md-12">

            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <!-- <select name="status" id="status">
                            <option value="">Pendiente</option>
                            <option value="">Prestado</option>
                            <option value="">Devuelto</option>
                        </select> -->
                    </div>
                    <div class="col-sm-6">
                        <a [routerLink]="['/loan/',0]" class="btn btn-success" data-toggle="modal"><i class="fa fa-plus"
                                aria-hidden="true"></i> <span>Agregar Prestamo</span></a>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <input type="text" placeholder="Buscar" class="form-control mb-3" name="filterLoans" id="filterLoans"
                    [(ngModel)]="filterLoans">
            </div>
            
        </div>
           
    </div>
</div>
<div id="pdfTable" #pdfTable>
<h1>Prestamos En Proceso</h1>
            <table>

                
                    <tr>



                        
                        <th>Email</th>
                        <th>Numero</th>
                        <th>Folio</th>
                        <th>Fecha</th>
                        <th>Devolucion</th>
                        <th>Estado</th>

                    </tr>
                
                
                    <tr *ngFor="let item of loans| loans:filterLoans; ">
                        <td>{{item.email}}</td>
                        <td>{{item.telefono}}</td>
                        <td>{{item.folio}}</td>
                        <td>{{item.fecha |date:"dd-MM-yyy"}}</td>
                        <td>{{item.devolucion |date:"dd-MM-yyy"}}</td>
                        <td>{{item.estado}}</td> 
                                             
                    </tr>
                
            </table>
           
        </div>
        <button (click)="downloadAsPDF()">Generar pdf</button>        
        
  

